bin*
*.tar
nri-flex-v*
nri-flex_v*
*.old
vendor*
nri-flex-mac
coverage*
.DS_Store
examples_*
CHANGELOG_*
cmd/flex/flex*
cmd/nri-flex/flex*
dump*
*.serverless
LATEST
.vendor-new*
.idea
dist

.envrc

envvars
flexConfigs/
results
pkg/
lcov.info

!test/serverless/azure/flexConfigs
!examples/azureFunctionExample/flexConfigs
test/testbed/nri-flex
test/testbed/scenarios.test

bin
obj
appsettings.json
local.settings.json
azurite
__blobstorage__
__queuestorage__
__azurite_db*__.json
nri-flex-azure.exe